.description {
  padding-right: 154px;
  max-width: 830px;
}
.description__title {
  font-family: "Inter black";
  font-size: 54px;
  line-height: 58px;
  margin-bottom: 40px;
}
.description__paragraph {
  max-width: 738px;
  line-height: 34px;
  max-width: 738px;
}
.description__paragraph_size_normal {
  margin-bottom: 10px;
  font-size: 24px;
}

.description__author {
  font-size: 24px;
  text-align: end;
  margin-bottom: 40px;
}
.description__paragraph_size_small {
  font-size: 16px;
  margin-bottom: 92px;
}
@media screen and (max-width: 1024px) {
  .description {
    margin: 0 24px 88px;
    padding: 0;
    max-width: 720px;
  }
  .description__title {
    font-size: 45px;
    line-height: 49px;
    margin-bottom: 50px;
  }
  .description__paragraph_size_normal {
    margin-bottom: 0;
  }
  .description__author {
    margin-bottom: 32px;
  }
  .description__paragraph_size_small {
    line-height: 163%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 544px) {
  .description {
    margin: 0 16px 64px;
    padding: 0;
    max-width: 288px;
  }
  .description__title {
    font-size: 32px;
    line-height: 35px;
  }
  .description__paragraph_size_normal {
    margin-bottom: 10;
    line-height: 30px;
  }
  .description__author {
    margin-bottom: 32px;
  }
  .description__paragraph_size_small {
    line-height: 163%;
    margin-bottom: 0;
  }
}
