.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 91px;
}
.header__logo {
  height: 32px;
  width: 32px;
  margin: 0 0 22px;
}
.header__title {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 90px;
  }
  .header__logo {
    height: 30px;
  }
}
