.principal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal-section__title {
  font-family: "Inter black";
  font-size: 6rem;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  margin-bottom: 32px;
}
.principal-section__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 720px;
  margin-bottom: 64px;
}
.principal-section__image {
  object-fit: contain;
  width: 100%;
  filter: grayscale(1);
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .principal-section__title {
    font-size: calc(6rem - 21px);
    line-height: 79px;
    max-width: 530px;
    margin-bottom: 25px;
  }
  .principal-section__subtitle {
    margin-bottom: 30px;
  }
  .principal-section__image {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 320px) {
  .principal-section__title {
    font-size: calc(6rem - 56px);
    line-height: 44px;
    max-width: 228px;
    margin-bottom: 16px;
  }
  .principal-section__subtitle {
    margin-bottom: 40px;
  }
  .principal-section__image {
    margin-bottom: 64px;
  }
}
